.container-login {
  background-color: #ddd;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  height: 100%;
}

.form-sign-in {
  background-color: #990033;
  width: 100%;
  max-width: 330px;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 3px 4px 5px 0px rgba(198, 198, 198, 0.75);
}

.form-sign-in img {
  background: #ffffff;
  padding: 3px 0;
}

form input.field {
  border-radius: 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  font: 400 15px/18px Roboto, sans-serif;
  box-shadow: inset 0 -1px 0 transparent;
  box-sizing: border-box;
  padding: 12px 4px;
  background: 0 0;
  width: 100%;
  display: block;
}

form input.field:focus {
  box-shadow: none;
}

body {
  color: #343434;
}

.table,
.table > td,
.table > th {
  color: #005e65;
  background-color: #fff4ff;
}

.btn-dark,
.list-group-item-action.active {
  color: #fff;
  background-color: #990033;
  border-color: #990033;
}

